/1-MakeAResponsivePortfolio/OwlCarousel2-2.3.4/
*.zip
UdemyCourses/.DS_Store
/1-MakeAResponsivePortfolio/superslides-0.6-stable
UdemyCourses/.DS_Store
UdemyCourses/.DS_Store
UdemyCourses/.DS_Store
UdemyCourses/.DS_Store
UdemyCourses/2-Bootstrap4FromScratch/Course_Projects/.DS_Store
