/1-MakeAResponsivePortfolio/OwlCarousel2-2.3.4/
*.zip
UdemyCourses/.DS_Store
/1-MakeAResponsivePortfolio/superslides-0.6-stable
UdemyCourses/.DS_Store
UdemyCourses/.DS_Store
UdemyCourses/.DS_Store
UdemyCourses/.DS_Store
UdemyCourses/2-Bootstrap4FromScratch/Course_Projects/.DS_Store
*.DS_Store
*.DS_Store
.DS_Store
UdemyCourses/4-TheMERNFullstackGuide/BackEnd/node_modules
UdemyCourses/.DS_Store
UdemyCourses/4-TheMERNFullstackGuide/FrontEnd/.firebase
UdemyCourses/4-TheMERNFullstackGuide/FrontEnd/firebase.json
UdemyCourses/4-TheMERNFullstackGuide/FrontEnd/.firebaserc
UdemyCourses/4-TheMERNFullstackGuide/FrontEnd/.env.production
UdemyCourses/4-TheMERNFullstackGuide/FrontEnd/.env.production
UdemyCourses/4-TheMERNFullstackGuide/FrontEnd/.env.production
UdemyCourses/5-GraphQLWithReactGuide/node_modules
UdemyCourses/.DS_Store
.DS_Store
UdemyCourses/5-GraphQLWithReactGuide/GraphQL-Auth/node_modules
UdemyCourses/1-MakeAResponsivePortfolio/.vscode
UdemyCourses/7-ReactJS&Firebase/node_modules
UdemyCourses/7-ReactJS&Firebase/src/database/firebase.js
